@import '../../assets/index.scss';

.coin{
    &-detail{
        &-header{
            padding: 40px 0 60px 0;
            &-info{
                display: flex;
                align-items: center;
                &-image{
                    width: 40px;
                    height: 40px;
                    margin-right: 20px;
                    & img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                &-name{
                    color: $font__color--white;
                    font-size: 24px;
                    font-weight: 700;
                }
                &-symple{
                    color: $color-item-text-nft;
                    margin: 0 5px;
                }
                &-icon{
                    font-size: 22px;
                    color: $font__color--white;
                    cursor: pointer;
                    transition: all 0.25s linear;
                    margin: 0 5px;
                    &:hover{
                        color: $orange-main-color;
                    }
                }
            }
            &-price{
                display: flex;
                align-items: center;
                &-num{
                    font-size: 24px;
                    color: $font__color--white;
                    font-weight: 600;
                }
                &-percent{
                    padding: 5px;
                    margin-left: 15px;
                    background-color: rgba(255,53,53,0.1);
                    border-radius: 8px;
                }
            }
            &-market{
                display: flex;
                align-items: center;
                &-percent{
                    padding: 5px;
                    margin-left: 15px;
                    background-color: rgba(52,199,89,0.1);
                    border-radius: 8px;
                }
            }
            &-overview{
                margin-bottom: 30px;
            }
            &-content{
                &-list{
                    display: flex;
                    justify-content: space-between;
                    &-item{
                        &-network{
                           display: flex;
                           align-items: center;
                        }
                        &-parameter{
                            width: calc(100% / 3 - 10px);
                            text-align: left;
                            padding: 0 20px;
                            &:not(:last-child){
                                border-right: 1px solid $color-item-text-nft;
                            }
                        }
                    }
                }
                &-item{
                    margin-bottom: 10px;
                    &-title{
                        text-align: left;
                        color: $color-item-text-nft;
                        display: flex;
                        align-items: center;
                    }
                    &-box{
                        margin-right: 10px;
                        text-align: left;
                        margin-bottom: 10px;
                        padding: 5px 10px;
                        width: fit-content;
                        border-radius: 5px;
                        background-color: $backGroup-item-detail-coin;
                        cursor: pointer;
                        transition: all 0.25s linear;
                        &:hover{
                            color: $orange-main-color;
                        }
                    }
                    &-icon{
                        margin-left: 5px;
                        transition: all 0.25s linear;
                        cursor: pointer;
                        &:hover{
                            color: $orange-main-color;
                        }
                    }
                }
                &-num{
                    font-size: 20px;
                    color: $font__color--white;
                    font-weight: 600;
                }
            }
        }
    }
}