@import "../../assets/variable.scss";
/* Css for Wallet Address */
.sidebar {
    height: 100vh;
    margin-right: 40px;

    .ant-row {
        .ant-col {
            margin-top: 40px;

            button {
                border-radius: 25px;
                background-color: $orange-main-color;
                color: #1a1a1a;
                border: none;

                span {
                    font-size: 12px;
                    font-weight: 600;
                }
            }
        }

        .ant-divider.ant-divider-horizontal {
            background-color: #999999;
        }

        .ant-input-group-wrapper {
            input {
                background-color: transparent;
                border-radius: 5px;
                border-color: #999999;
                color: #999999;
            }

            .ant-input-group-addon {
                display: none;
            }
        }
    }

    // .panel {
    //     .ant-collapse-header,
    //     p {
    //         color: white !important;
    //         text-align: center;
    //         padding: 0 40px;
    //     }

    //     .ant-collapse-content-box {
    //         padding: 0 40px;
    //     }
    // }

    .ant-typography {
        display: block;
        margin-bottom: 5px;
        color: white !important;
    }
    .ant-tabs {
        color: $font__color--white;
    }
    .ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content {
        height: 450px;
        overflow-y: auto;
    }
}
/* Css for Analyst */

.dashboard {
    > .ant-row > .ant-col {
        padding-bottom: 20px;
    }

    .ant-tabs {
        .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
            color: $orange-main-color;
        }

        .ant-tabs-tab {
            color: #999999;
        }

        > .ant-tabs-nav::before {
            border: none;
        }
    }

    .main-price {
        text-align: left;
        font-size: 1.78947rem;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
    }

    .data-change {
        text-align: left;

        > span ~ span,
        span ~ .ant-select {
            padding-left: 10px;

            > span ~ span {
                padding-left: 1px;
            }
        }

        .change-price-up {
            color: $green-strong-password-color;
        }

        .change-price-down {
            color: $red-bad-password-color;
        }

        .ant-select {
            background: transparent !important;
        }
    }

    .ant-col {
        .ant-table-wrapper {
            border-top: 1px solid #999999;
            border-bottom: none;
            .ant-table {
                background-color: #1a1a1a;

                .ant-table-container {
                    .ant-table-content {
                        .ant-table-thead {
                            .ant-table-cell {
                                // background-color: $background-color;
                                background-color: #1a1a1a;
                                color: #999999;
                                height: 20px;
                                pointer-events: none;
                                font-size: 10px;
                            }
                        }

                        .ant-table-tbody {
                            a {
                                text-decoration: none;
                                color: white;
                                font-weight: 600;
                            }

                            td {
                                color: #999999;

                                a {
                                    img {
                                        height: 25px;
                                        width: 25px;
                                        margin-right: 5px;
                                    }

                                    span {
                                        margin-left: 5px;
                                        color: #999999;
                                    }
                                }
                            }

                            td:hover {
                                background-color: #4d4d4d;
                            }

                            td:nth-child(4) {
                                color: white;
                                font-weight: 600;
                            }

                            .ant-table-cell {
                                font-size: 10px;
                            }

                            .ant-table-cell.table-name > div {
                                display: flex;

                                .table-name-content {
                                    margin-left: 5px;
                                    display: flex;
                                    align-items: center;
                                }
                            }

                            .table-icon-coin {
                                img {
                                    width: 35px !important;
                                    height: 35px !important;
                                }
                            }
                        }
                    }
                }
            }

            .ant-pagination {
                display: none;
            }
        }
    }
}
