@import '../../assets/index.scss';

.profile{
    width: 60%,;
<<<<<<< HEAD
=======
    // padding: 40px 15%;
>>>>>>> f3d42af (fix url base)
    margin: 40px auto;
    padding: 30px;
    background-color: $white-color;
    align-items: center;
    &-avatar{
        width: 100px;
        height: 100px;
        margin: 0px auto;
    }
<<<<<<< HEAD
    &-content{
        padding: 0 30px;
    }
    &-item{
        width: 100%;
        height: 35px;
        display: block;
    }
    &-col{
        text-align: left;
    }
    &-button{ 
        display: flex; 
        justify-content: space-between;
        width: 180px;
        margin-top: 30px; 
    }
=======
>>>>>>> f3d42af (fix url base)
}