@import '../../assets/index.scss';

.bitcoin{
    padding: 50px 0 ;
    margin: 0px auto;
    width: 500px;
    &-title{
        display: flex;
        align-items: center;
        justify-content: center 
    }
    &-text{
        font-weight: bold;
        font-size: 30px;
        color: #fff;
        margin-right: 10px
    }
    & .ant-form-item-label>label{
        color: $font__color--white;
    }
}
.metamask{
    padding: 50px 0 ;
    margin: 0px auto;
    width: 500px;
    &-title{
        display: flex;
        align-items: center;
        justify-content: center 
    }
    & .ant-tabs>.ant-tabs-nav .ant-tabs-nav-wrap, .ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-wrap{
        justify-content: center;
    }
    &-text {
        font-weight: bold;
        font-size: 30px;
        color: #fff;
        margin-right: 10px;
        &-button{
            margin-bottom: 30px;
            & .ant-typography{
                color: $font__color--white;
            }
        }
    }
    &-button{
        text-align: left;
        transition: all 0.25s linear;
        cursor: pointer;
        & .ant-typography{
            color: $font__color--white;
            &:hover{
                color: $orange-main-color;
            }
        }
    }
    & .ant-select.ant-select-in-form-item.ant-select-single.ant-select-show-arrow.ant-select-show-search{
        text-align: left;
    }
    & .ant-form-item-label>label{
        color: $font__color--white;
    }
    &-form{
        &-item{
            background-color: $background-form-item;
            border-radius: 8px;
            padding: 15px;
            margin-bottom: 20px;
            &-icon{
                width: 100%;
                text-align: right;
                & span{
                    color: $font__color--white;
                    cursor: pointer;
                    &:hover{
                        color: $orange-main-color;
                    }
                }
            }
        }
    }
}
.ant-modal-confirm-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
}
.ant-modal-confirm-body>.anticon+.ant-modal-confirm-title+.ant-modal-confirm-content{
    margin-left: 0;
}
.ant-modal-confirm-body .ant-modal-confirm-title{
    font-size: 20px;
    font-weight: 700;
    padding: 15px;
}
.ant-modal-confirm .ant-modal-confirm-btns{
    text-align: center;
}

