.forgot-password-modal {
    top: 200px !important;
}
<<<<<<< HEAD
.login-form .ant-input,
.login-form .ant-input-affix-wrapper {
=======
.ant-input {
>>>>>>> 3db5465 (fix giao dien)
    line-height: 2.5;
    padding: 5px 11px;
    border-radius: 5px;
}