$input-icon-box-color: #3eadff;
$button-hover-color: #6362e7;
$input-border-color: #9747ff;
$modal__background--color: #f5f5f5;
$font__color--white: #fff9f9;
$checker-box-background: #969696;
$bad-password-color: #FF0000;
$weak-password-color: #FFB800;
$medium-password-color: #CCFF00;
$strong-password-color: #00FF19;
$background-color: #1a1a1a;
$white-color: #fff;
$checked-icon-color: #00FF19;
$padding-1: 2px;
$padding-2: 4px;
$padding-3: 8px;
$padding-4: 16px;
$padding-5: 32px;

$margin-1: 2px;
$margin-2: 4px;
$margin-3: 8px;
$margin-4: 16px;
$margin-5: 32px;

$font-size-1: 8px;
$font-size-2: 10px;
$font-size-3: 14px;
$font-size-4: 18px;
$font-size-5: 26px;

$line-height-1: 10px;
$line-height-2: 12px;
$line-height-3: 16px;
$line-height-4: 22px;
$line-height-5: 30px;
